body {
    background-color: #202020;
}

.form-wrapper {
    z-index: 100;
    width: 40%;
}

.display-4 {
    line-height: 1.7;
}

.bg-navbar {
    background-color: #1c1e2050;
}

h1 {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100vh;
}

body {
    background-image: radial-gradient( ellipse at center, #5b8f68 10%, #65996c 30%, #4fb626 100%);
    background-color: #2d3436;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 32px;
    font-family: monospace;
    letter-spacing: 1px;
    margin: 20px 0;
    color: white;
}

form {
    margin: 20px 0;
    background-color: white;
    padding: 20px 25px;
    border-radius: 5px;
}

form .input-block {
    margin-bottom: 20px;
}

form .input-block label {
    font-size: 14px;
    color: #000000;
}

form .input-block input {
    width: 100%;
    display: block;
    margin-top: 8px;
    padding: 7px;
    font-size: 16px;
    color: #000000;
    border-radius: 2px;
    border: 1px solid #ccddef;
    outline-color: #f2ae54;
}

form .btn-login {
    display: block;
    min-width: 120px;
    border: none;
    background-color: #5aac68;
    color: white;
    border-radius: 25px;
    margin: auto;
    padding: 7px;
}

form {
    animation-name: fade;
    animation-duration: 0.5s;
}

@keyframes fade {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        trandform: scale(1);
    }
}

form {
    overflow: hidden;
}

form .input-block:nth-child(1) {
    animation-name: move;
    animation-duration: 0.5s;
}

form .input-block:nth-child(2) {
    animation-name: move;
    animation-duration: 0.4s;
    animation-delay: 0.1s;
    animation-fill-mode: backwards;
}

form .btn-login {
    animation-name: move;
    animation-duration: 0.4s;
    animation-delay: 0.25s;
    animation-fill-mode: backwards;
}

@keyframes move {
    from {
        opacity: 0;
        transform: translateX(-35%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

.form-hide {
    animation: down 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

@keyframes down {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(100vh);
    }
}

form.validate-error {
    animation: nono 200ms linear, fade paused;
    animation-iteration-count: 2;
}

@keyframes nono {
    0%,
    100% {
        transform: translateX(0);
    }
    35% {
        transform: translateX(-15%);
    }
    70% {
        transform: translateX(15%);
    }
}

body {
    overflow: hidden;
}

textarea {
    resize: none;
}

.squares li {
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.548);
    display: block;
    position: absolute;
    bottom: -40px;
    animation: up 2s infinite;
    animation-direction: alternate;
}

@keyframes up {
    from {
        opacity: 0;
        transform: translateY(0);
    }
    50% {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: translateY(-800px) rotate(960deg);
    }
}

li {
    border-radius: 100px;
}