html {
    scroll-behavior: smooth;
}

.banner {
    background-image: url('../img/banner.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 4.6rem;
    height: 200px;
    margin-bottom: 0;
}

.icon {
    margin-right: 5px;
    font-size: 1.225rem;
}

.conteudo {
    box-shadow: 7px -2px 7px 2px rgba(0, 0, 0, 0.36);
}

.nav {
    background-color: rgb(23, 216, 48);
    height: 75px;
}

.nav a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
    font-size: 17px;
}

.icon {
    margin-right: 5px;
    font-size: 1.225rem;
}

.icone-user {
    width: 65px;
    height: auto;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 2.5rem;
    background-color: white;
    border-radius: 100%;
}

.dropdown-menu li {
    font-weight: bold;
    cursor: pointer;
}

.dropdown-menu li:hover {
    background-color: rgb(202, 200, 200);
    transition: 0.25s;
}