.rodape .container {
    text-align: center;
    margin-bottom: 0;
}

.jumbotron {
    background-image: url(../../recursos/img/jumbotron.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
}

.rodape {
    padding: 0.5rem 0;
    color: #999;
    background-color: #000000;
    border-top: 0.05rem solid #e5e5e5;
}

.icon {
    font-size: 2rem;
}

.corpo-cinco-s {
    color: white;
    background-image: linear-gradient(to top, rgb(62, 63, 160), rgb(39, 103, 221));
}

.links {
    text-decoration: none;
    color: white;
}

.links:hover {
    color: rgba(255, 255, 255, 0.493);
}

.topnav {
    overflow: hidden;
    background-color: #28a745;
}

.topnav a {
    color: #000;
    font-weight: bold;
    text-align: center;
    padding: 6px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav ul li:hover {
    width: inherit;
    background-color: #28a74679;
    color: white;
    -webkit-box-shadow: 0px 0px 10px #055c1a inset;
    -moz-box-shadow: 0px 0px 10px #055c1a inset;
    box-shadow: 0 -10px 0.8px #055c1971 inset;
}