@import url('https://fonts.googleapis.com/css2?family=Palanquin+Dark&display=swap');
* {
    font-family: 'Palanquin Dark', sans-serif;
    font-size: 18px;
}

html {
    scroll-behavior: smooth;
}

.rodape .container {
    text-align: center;
    margin-bottom: 0;
}

hr {
    border: 1px solid white;
}

.banner {
    background-image: url('../img/jumbotron.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0px !important;
    margin-bottom: 0px;
    height: 550px;
}

.rodape {
    padding: 0.5rem 0;
    color: #999;
    background-color: #1b1b1b;
}

.corpo-cinco-s {
    color: white;
    background-image: linear-gradient(to top, rgb(62, 63, 160), rgb(39, 103, 221));
}

.icon-rodape {
    font-size: 2rem;
}

.caixa {
    cursor: pointer;
}

.links {
    text-decoration: none;
    color: white;
}

.links:hover {
    color: rgba(255, 255, 255, 0.493);
}

.cinco-s {
    background-image: url('../img/5-s.jpg');
    padding: 25px;
}

.gradiente {
    background-image: linear-gradient(to top, rgb(62, 63, 160), rgb(39, 103, 221));
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

.nav {
    background-color: rgb(23, 216, 48);
    height: 100px;
}

.nav a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
    font-size: 17px;
}

.fotoUser {
    width: 100px;
    height: auto;
    background-color: white;
    border-radius: 100%;
}

.loading {
    width: 65px;
    height: auto;
}

.maps {
    width: 100%;
    height: 500px;
}

.mapouter {
    position: relative;
    text-align: right;
    height: 500px;
    width: 808px;
}

.gmap_canvas {
    overflow: hidden;
    background: none!important;
    height: 500px;
    width: 808px;
}

.dropdown-menu li {
    font-weight: bold;
    cursor: pointer;
}

.usuario {
    cursor: none;
}

.bg-pesquisa {
    padding: 15px;
    background-color: rgb(0, 204, 0);
}

.img {
    text-align: center;
    width: 300px;
    height: 250px;
}

.card-body {
    padding-top: 0px;
}

#sidebar2 {
    position: fixed;
    left: -310px;
    transition: .4s;
    z-index: 100
}

.equipamentos {
    background-image: linear-gradient(315deg, #1f4037 0%, #99f2c8 85%);
    padding-top: 25px !important;
}

.itens-navbar {
    cursor: pointer;
}

.card {
    padding-left: 8px;
    padding-right: 8px;
    overflow: hidden;
    height: 455px;
    padding-top: 2px;
    background-image: url('../img/card.jpg');
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 1);
}

.tec-aa {
    background-color: #26C281;
    padding: 50px;
}

.tec-quimica {
    background-color: #347b91;
    padding: 50px;
}

.mapa {
    padding: 0px !important;
    margin: 0px !important;
}

.calendario,
.relogio {
    color: #13272e;
}

#sidebar2.active {
    left: 0;
}

.devs>a {
    font-size: 15px;
    color: aqua;
}

.devs>a:hover {
    font-size: 15px;
    color: aqua;
    text-shadow: 0 0 4px #fff;
}

.icone-dev {
    font-size: 1.25rem;
}

.text-verde {
    color: #005337;
}

.text-azul {
    color: #003171;
}

i {
    font-size: 6.5rem !important;
}

#sidebar2 ul li {
    list-style: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
    padding: 15px 24px;
}

.nbr {
    border-radius: 0px;
}

#sidebar2 .toogle-btn {
    position: absolute;
    top: 15px;
    left: 320px;
    height: 55px;
    width: 110px;
}

button {
    background-color: transparent;
    border: none;
}

button:focus {
    outline: none;
}

.toogle-btn span {
    width: 45px;
    height: 4px;
    background: #fafafa;
    display: block;
    margin-top: 4px;
}

.caixa {
    width: 110px;
    background-color: #000000;
    border-radius: 10px;
    top: 30px;
    left: 255px;
}

.btn-toggle {
    color: white;
    font-size: 3rem;
    cursor: pointer;
}

.caixa_conteudo {
    height: 25px;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
}

.logo-aa {
    width: 420px;
}

.text-black {
    color: #000;
}

.text-green {
    color: #15df44;
}

.sideall {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    top: 0;
    left: 0;
    height: 10000px;
    z-index: 90;
    background: rgb(98, 212, 113);
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

.num_pa {
    margin-bottom: 2px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: rgb(73, 180, 87);
    ;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid rgb(73, 180, 87);
}

#sidebar ul li a {
    display: block;
    width: 225px;
}

#sidebar ul li.itens-navbar:hover {
    color: rgb(98, 212, 113);
    background: #fff;
    transition: all 0.3s;
}

a[data-toggle="collapse"] {
    position: relative;
}

@media screen and (max-device-width: 480px) {
    .display-1 {
        font-size: 3rem !important;
    }
    .rodape-devs {
        font-size: 18px !important;
    }
    .rodape>div>div>div.col-12 {
        margin-top: 1rem;
    }
    .col-form,
    .col-list {
        margin-top: 0.5rem !important;
        font-size: 18px;
    }
    .logo-aa {
        width: inherit;
    }
    .duracao {
        margin-bottom: 1rem;
    }
    .info-aa,
    .info-qui {
        margin-top: 0px !important;
    }
    .logo-qui {
        width: inherit;
    }
    .components>li {
        font-size: 16px !important;
    }
}