<div style="display:none" class="col-12 col-md-12 col-sm-12 col-lg-12 formulario">
    <form>
        <div class="row d-flex justify-content-center mb-2">
            <div class="col-lg-4 col-md-4 col-12 col-sm-12">
                <label>
                    Título do Relatório
                </label>
                <input class="form-control input text-center" maxlength="55" type="text" id="titulo">
            </div>
            <div class="col-12 col-md-2 col-lg-2 col-sm-12">
                <div class="form-group">
                    <label>
                        Data
                    </label>
                    <input class="form-control input" value="{{ dia }}" id="form-data" placeholder="31/12/2021" type="date">
                </div>
            </div>
            <div class="col-12 col-md-2 col-lg-2 col-sm-12">
                <div class="form-group">
                    <label>
                        Hora
                    </label>
                    <input class="form-control input" id="form-hora" placeholder="23:59:59" type="time">
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center mb-2">
            <div class="col-12 col-md-3 col-sm-12 col-lg-3">
                <div class="form-group">
                    <label>
                        Laboratório da aula exercida
                    </label>
                    <select class="form-control input" id="form-laboratorio">
                        <option value="">
                            Selecione o Laboratório
                        </option>
                        <option value="1">
                            Externo
                        </option>
                        <option value="2">
                            Interno
                        </option>
                        <option value="3">
                            Ambos
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-12 col-md-3 col-sm-12 col-lg-3">
                <div class="form-group">
                    <label>
                        Tempo da Aula
                    </label>
                    <select class="form-control input" id="form-aulas">
                        <option value="">
                            Selecione o período de tempo
                        </option>
                        <option value="00:50:00">
                            1 aula (50 min)
                        </option>
                        <option value="01:40:00">
                            2 aulas (1h 40min)
                        </option>
                        <option value="02:30:00">
                            3 aulas (2h 30min)
                        </option>
                        <option value="03:20:00">
                            4 aulas (3h 20min)
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center mb-2">
            <div class="col-lg-6 col-md-6 col-12 col-sm-12">
                <label>
                    Descrição
                </label>
                <textarea maxlength="300" class="form-control input text-justify" type="text" id="form-descricao" style="height: 130px;resize: none;" cols="30" row="10"></textarea>
            </div>
        </div>
        <div class="row d-flex justify-content-center mb-2">
            <div class="col-12 col-lg-6 col-md-6 col-sm-12">
                <label>
                    O que foi utilizado:
                </label>
                <div class="row">
                    <div class="col-lg-4">
                        <button class="btn btn-primary btn-selecionar-equipamentos" type="button">
                            Selecionar Equipamentos
                        </button>
                    </div>
                    <div class="col-lg-4">
                        <button class="btn btn-primary btn-selecionar-reagentes" type="button">
                            Selecionar Reagentes
                        </button>
                    </div>
                    <div class="col-lg-4">
                        <button class="btn btn-primary btn-selecionar-vidrarias" type="button">
                            Selecionar Vidrarias
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="btn-secao form-group m-0 col-lg-6 col-md-6 col-sm-12 col-12">
                <button entidade="relatorios" class="btn btn-success btn-new-relatorio btn-block font-weight-bold mt-2" type="button">
                    Relatar
                </button>
            </div>
        </div>
    </form>
</div>

<div id="modal-equipamentos" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="my-modal-title" aria-modal="true">
    <div class="modal-dialog modal-dialog-centered modal-lgg" role="document">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h1 class="modal-title font-weight-bold text-black" id="my-modal-title">
                    Equipamentos
                </h1>
            </div>
            <div class="modal-body">
                <div class="row equipamentos align-items-center" style="height:690px; overflow: scroll; overflow-x:hidden;">
                    {{ equipamentos }}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-ok">
                    Ok
                </button>
            </div>
        </div>
    </div>
</div>
<div id="modal-reagentes" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="my-modal-title" aria-modal="true">
    <div class="modal-dialog modal-dialog-centered modal-lgg" role="document">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h1 class="modal-title font-weight-bold text-black" id="my-modal-title">
                    Reagentes
                </h1>
            </div>
            <div class="modal-body">
                <div class="row reagentes align-items-center" style="height:690px; overflow: scroll; overflow-x:hidden;">
                    {{ reagentes }}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-ok">
                    Ok
                </button>
            </div>
        </div>
    </div>
</div>
<div id="modal-vidrarias" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="my-modal-title" aria-modal="true">
    <div class="modal-dialog modal-dialog-centered modal-lgg" role="document">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h1 class="modal-title font-weight-bold text-black" id="my-modal-title">
                    Vidrarias
                </h1>
            </div>
            <dv class="modal-body">
                <div class="row vidrarias align-items-center" style="height:690px; overflow: scroll; overflow-x:hidden;">
                    {{ vidrarias }}
                </div>
            </dv>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-ok">
                    Ok
                </button>
            </div>
        </div>
    </div>
</div>
<script>
    $(".quantidade-usada").mask("9999")
</script>