<form class="form">
    <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">
            Visualizando o equipamento:
            <input type="text" value="{{ nome }}" maxlength="50" style="width: 60%;" name="nome" class="text-center input-nome">
        </h2>
    </div>
    <div class="modal-body">
        <div class="row d-flex align-items-center">
            <div class="col-md-6 col-lg-6 col-sm-12 col-12">
                <img id="foto" src="src/equipamentos/fotos/{{ foto }}">
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12 col-12">
                <label class="font-weight-bold mt-1" style="margin-bottom: 0px !important;" for="descricao">
                    Descrição
                </label>
                <textarea name="descricao" maxlength="300" class="form-control text-justify" id="descricao" cols="30" rows="20">{{ descricao }}</textarea>
                <div class="secao-foto">
                    <label class="font-weight-bold foto mt-1" style="margin-bottom: 0px !important;" for="foto">
                        Foto
                    </label><br>
                    <input type="file" class="form-control foto input-foto" name="foto">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-12 col-12" style="text-align: center;">
                <label class="font-weight-bold mt-1" style="margin-bottom: 0px !important;" for="patrimonio">
                    Número do Patrimônio
                </label>
                <input id="patrimonio" value="{{ patrimonio }}" class="form-control text-center" type="number" name="patrimonio">
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12 col-12">
                <label class="font-weight-bold mt-1" style="margin-bottom: 0px !important;" for="laboratorio">
                    Laboratório
                </label>
                <div class="form-group">
                    <select id="laboratorio" class="form-control" name="laboratorio">
                        <option value="1">Externo</option>
                        <option value="2">Interno</option>
                        <option value="3">Ambos</option>
                    </select>
                </div>
            </div>
        </div>
        <input type="hidden" value="{{ id_equipamento }}" name="id_equipamento" id="id_equipamento">
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-fechar" data-dismiss="modal">
            Fechar
        </button>
        <button type="button" entidade="equipamento" class="btn btn-primary btn-update d-none">
            Salvar
        </button>
    </div>
</form>
<script>
    $("#patrimonio").mask("9999")
    $("#laboratorio").val("{{ id_laboratorio }}")
    $(".modal-content").find("select, input, textarea").attr("readonly", "{{ editavel }}")
    $(".modal-content").find("select, input, textarea").attr("disabled", "{{ editavel }}")
    $(".secao-foto, .btn-update").addClass("d-none")
    "{{ editavel }}" == true ? $(".secao-foto, .btn-update").addClass("d-none") : $(".secao-foto, .btn-update").removeClass("d-none")
</script>