<form class="form">
    <div class="modal-header">
        <div class="row">
            <div class="col-12 d-flex flex-row justify-content-center">
                <div>
                    <h2 class="modal-title" id="exampleModalLabel">
                        Visualizando a vidraria quebrada:&nbsp;
                    </h2>
                    <select id="vidraria-quebrada" class="form-control input-nome-vidraria-quebrada" name="id_vidraria">
                        {{ vidrarias }}
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-body">
        <div class="row d-flex align-items-center">
            <div class="col-lg-6 col-md-6 col-12 col-sm-12">
                <img id="foto" src="src/vidrarias/fotos/{{ foto }}">
            </div>
            <div class="col-lg-5 col-md-5 col-12 col-sm-12 mt-1">
                <div class="form-group">
                    <label class="font-weight-bold" style="margin-bottom: 0px !important;" for="quantidade-quebrada">
                        Quantidade quebrada
                    </label>
                    <input id="quantidade-quebrada" value="{{ quantidade-quebrada }}" class="form-control text-center" type="text" name="quantidade-quebrada">
                </div>
                <div class="form-group">
                    <label class="font-weight-bold mt-1" style="margin-bottom: 0px !important;" for="aula">
                        Aula em que quebrou
                    </label>
                    <select id="aula-quebrada" class="form-control" name="aula-quebrada">
                        {{ aulas }}
                    </select>
                </div>
                <div class="form-group">
                    <label class="font-weight-bold mt-1" style="margin-bottom: 0px !important;" for="laboratorio-quebrada">
                        Laboratorio em que foi quebrada:
                    </label>
                    <br>
                    <h6 id="laboratorio-quebrada">{{ laboratorio }}</h6>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" name="id_vidraria_quebrada" value="{{ id_vidraria_quebrada }}" id="id_vidraria_quebrada">
    <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-fechar" data-dismiss="modal">
            Fechar
        </button>
        <button type="button" entidade="vidrarias-quebrada" class="btn btn-primary btn-update d-none">
            Salvar
        </button>
    </div>
</form>
<script>
    $("#quantidade-quebrada").mask("9999")
    $("#vidraria-quebrada").val("{{ id_vidraria }}")
    $("#aula-quebrada").val("{{ id_relatorio }}")
    $(".modal-content").find("select, input, textarea").attr("readonly", "{{ editavel }}")
    $(".modal-content").find("select, input, textarea").attr("disabled", "{{ editavel }}")
    "{{ editavel }}" == true ? $(".btn-update").addClass("d-none") : $(".btn-update").removeClass("d-none")
</script>