<form class="form">
    <div class="modal-header d-block">
        <h1 class="modal-title text-black" id="exampleModalLabel">
            Aula:
            <input type="text" value="{{ titulo }}" maxlength="50" style="width: 70%;" name="titulo" class="text-center">
        </h1>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-12 col-lg-12 col-sm-12 col-md-12">
                <h3 class="text-black text-left">
                    O que foi usado:
                </h3>
            </div>
        </div>
        <div class="row tabelas">
            <div class="col-12 col-sm-12 col-lg-3 col-md-3">
                <table class="table table-hover display compact cell-border" style="width: 100%;">
                    <thead class="thead-dark">
                        <tr>
                            <th>
                                Equipamentos
                            </th>
                        </tr>
                    </thead>
                    <tbody class="equipamentos-usados">
                        {{ equipamentos }}
                    </tbody>
                </table>
            </div>
            <div class="col-12 col-sm-12 col-lg-3 col-md-3">
                <table class="table table-hover display compact cell-border" style="width: 100%;">
                    <thead class="thead-dark">
                        <tr>
                            <th>
                                Reagentes
                            </th>
                            <th>
                                Quantia Usada
                            </th>
                        </tr>
                    </thead>
                    <tbody class="reagentes-usados">
                        {{ reagentes }}
                    </tbody>
                </table>
            </div>
            <div class="col-12 col-sm-12 col-lg-3 col-md-3">
                <table class="table table-hover display compact cell-border" style="width: 100%;">
                    <thead class="thead-dark">
                        <tr>
                            <th>
                                Vidrarias
                            </th>
                        </tr>
                        <tbody class="vidrarias-usadas">
                            {{ vidrarias }}
                        </tbody>
                    </thead>
                </table>
            </div>
            <div class="col-12 col-sm-12 col-lg-3 col-md-3">
                <table class="table table-hover display compact cell-border" style="width: 100%;">
                    <thead class="thead-dark">
                        <tr>
                            <th>
                                Vidrarias Quebradas
                            </th>
                            <th>
                                Quantia Quebrada
                            </th>
                        </tr>
                        <tbody class="vidrarias-quebradas">
                            {{ vidrarias-quebradas }}
                        </tbody>
                    </thead>
                </table>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-12 col-md-2 col-sm-12 col-lg-2">
                <div class="form-group">
                    <label>
                        Tempo da Aula
                    </label>
                    <select id="tempo" class="form-control input" name="aulas">
                        <option value="00:50:00">
                            1 aula (50 min)
                        </option>
                        <option value="01:40:00">
                            2 aulas (1h 40min)
                        </option>
                        <option value="02:30:00">
                            3 aulas (2h 30min)
                        </option>
                        <option value="03:20:00">
                            4 aulas (3h 20min)
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-2 col-lg-2">
                <div class="form-group">
                    <label>
                        Laboratório da aula exercida
                    </label>
                    <select id="laboratorio" class="form-control input" name="laboratorio">
                        <option value="1">
                            Externo
                        </option>
                        <option value="2">
                            Interno
                        </option>
                        <option value="3">
                            Ambos
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-2 col-lg-2">
                <div class="form-group">
                    <label>
                        Data
                    </label>
                    <input value="{{ data }}" class="form-control input" type="date" name="data" id="data">
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-2 col-lg-2">
                <div class="form-group">
                    <label>
                        Hora
                    </label>
                    <input value="{{ hora }}" class="form-control input" type="time" name="hora" id="hora">
                </div>
            </div>
            <div class="col-12 col-sm-12 col-lg-4 col-md-4">
                <label class="font-weight-bold" for="descricao">
                    Descrição
                </label>
                <textarea maxlength="300" style="height: 200px;resize: none;" cols="30" name="descricao" class="form-control text-justify" id="descricao">{{ descricao }}</textarea>
            </div>
        </div>
    </div>
    <input type="hidden" value="{{ id_relatorio }}" name="id_relatorio" id="id_relatorio">
    <div class="modal-footer flex-column">
        <h4 class="text-black aviso-edicao d-none">
            Aviso: o modo edição permite alterar apenas dados como o tempo de aula, laboratório, dia, horário e descricao do relatório!
        </h4>
        <div>
            <button type="button" class="btn btn-danger btn-fechar" data-dismiss="modal">
                Fechar
            </button>
            <button entidade="relatorio" type="button" class="btn btn-primary btn-update d-none">
                Salvar
            </button>
        </div>
    </div>
</form>
<script>
    $("#tempo").val("{{ tempo }}")
    $("#laboratorio").val("{{ id_laboratorio }}")
    $(".modal-content").find("select, input, textarea").attr("readonly", "{{ editavel }}")
    $(".modal-content").find("select, input, textarea").attr("disabled", "{{ editavel }}")
    "{{ editavel }}" == true ? $(".aviso-edicao, .btn-update").addClass("d-none") : $(".aviso-edicao, .btn-update").removeClass("d-none")
</script>