<form class="form">
    <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">
            Visualizando a vidraria:
            <input type="text" value="{{ nome }}" maxlength="50" style="width: 60%;" name="nome" class="text-center input-nome">
        </h2>
    </div>
    <div class="modal-body">
        <div class="row d-flex align-items-center">
            <div class="col-lg-6 col-md-6 col-12 col-sm-12">
                <img id="foto" src="src/vidrarias/fotos/{{ foto }}">
            </div>
            <div class="col-lg-6 col-md-6 col-12 col-sm-12 mt-1">
                <label class="font-weight-bold" style="margin-bottom: 0px !important;" for="descricao">
                    Descrição
                </label>
                <textarea maxlength="300" name="descricao" class="form-control text-justify" id="descricao">{{ descricao }}</textarea>
                <div class="secao-foto">
                    <label class="font-weight-bold mt-1" style="margin-bottom: 0px !important;" for="foto">
                        Foto
                    </label>
                    <br>
                    <input type="file" class="form-control input-foto" name="foto">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-12 col-sm-12 mt-1" style="text-align: center;">
                <label class="font-weight-bold" style="margin-bottom: 0px !important;" for="quantidade">
                    Quantidade
                </label>
                <input id="quantidade" value="{{ quantidade }}" class="form-control text-center" type="text" name="quantidade">
            </div>
            <div class="col-lg-6 col-md-6 col-12 col-sm-12 mt-1">
                <label class="font-weight-bold lare" style="margin-bottom: 0px !important;" for="laboratorio">
                    Laboratório
                </label>
                <div class="form-group">
                    <select id="laboratorio" class="form-control" name="laboratorio">
                        <option value="1">Externo</option>
                        <option value="2">Interno</option>
                        <option value="3">Ambos</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" value="{{ id_vidraria }}" name="id_vidraria" id="id_vidraria">
    <div class="modal-footer">
        <button type="button" class="btn btn-danger btn-fechar" data-dismiss="modal">
            Fechar
        </button>
        <button entidade="vidraria" type="button" class="btn btn-primary btn-update d-none">
            Salvar
        </button>
    </div>
</form>
<script>
    $("#quantidade").mask("9999")
    $("#laboratorio").val("{{ id_laboratorio }}")
    $(".modal-content").find("select, input, textarea").attr("readonly", "{{ editavel }}")
    $(".modal-content").find("select, input, textarea").attr("disabled", "{{ editavel }}")
    "{{ editavel }}" == true ? $(".secao-foto, .btn-update").addClass("d-none") : $(".secao-foto, .btn-update").removeClass("d-none")
</script>