<div class="modal fade" id="modal-vidraria-quebrada" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lgg" role="document">
        <div class="modal-content">
            <form class="form">
                <div class="modal-header">
                    <h2 class="modal-title" id="exampleModalLabel"></h2>
                </div>
                <div class="modal-body">
                    <div class="row d-flex align-items-center">
                        <div class="col-lg-6 col-md-6 col-12 col-sm-12">
                            <img id="foto2" src="">
                        </div>
                        <div class="col-lg-5 col-md-5 col-12 col-sm-12 mt-1">
                            <label class="font-weight-bold" style="margin-bottom: 0px !important;" for="quantidade2">Quantidade</label>
                            <input id="quantidade2" class="form-control text-center" type="text" name="quantidade2">
                            <label class="font-weight-bold lare mt-1" style="margin-bottom: 0px !important;" for="relatorio">Relatório que quebrou</label>
                            <div class="form-group" style="margin-bottom: 0px !important;">
                                <select id="relatorio" class="form-control" name="relatorio">
                                </select>
                                <label class="font-weight-bold label-foto mt-1" style="margin-bottom: 0px !important;" for="foto-q">Foto</label>
                                <input type="file" id="foto-q" class="form-control foto-q" name="foto-q">
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="id_vidraria_quebrada" id="id_vidraria_quebrada">
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-fechar" data-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-warning btn-update-quebrada d-none">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>