<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="assets/img/icons/icone-{{ icone }}.png" type="image/x-icon">
    <title>
        {{ titulo-pagina }}
    </title>
    <link rel="stylesheet" href="vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/mains.css">
    <link rel="stylesheet" href="assets/css/{{ css }}.css">
    <link rel="stylesheet" href="assets/fonts/fonte.css">
    <style>
        body {
            visibility: hidden;
        }
    </style>
</head>

<body id="topo">
    <main>
        <nav class="sideall">
            <div id="sidebar2">
                <div class="toggle-btn caixa row d-flex justify-content-center align-content-center">
                    <center class="btn-toggle">
                        <i id="seta" class="far fa-arrow-alt-circle-left d-none"></i>
                        <i id="seta2" class="far fa-arrow-alt-circle-right"></i>
                    </center>
                </div>

                <div id="sidebar">
                    <div class="sidebar-header">
                        <center>
                            <img src="{{ foto }}" class="fotoUser">
                        </center>
                    </div>
                    <ul class="list-unstyled lista-btns components font-weight-bold">
                        <li class="nomeUser">
                            {{ nome }}
                        </li>
                        <li class="loginUser">
                            {{ login }}<span class="sr-only">(current)</span>
                        </li>
                        <li class="itens-navbar">
                            <a href="#topo">
                                <i class="fas fa-arrow-alt-circle-up"></i>&nbsp;Topo
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        {{ botoes }}
                        <a href="src/usuarios/logout">
                            <li class="itens-navbar">
                                <i class="fa fa-sign-out-alt"></i>&nbsp;Sair
                                <span class="sr-only">(current)</span>
                            </li>
                        </a>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="jumbotron banner d-flex align-items-center justify-content-center nbr">
            <div class="row">
                <div class="col-12 col-md-12 col-sm-12 col-lg-12">
                    <h1 class="display-1 text-uppercase text-center font-weight-bold text-titulo">
                        {{ titulo-jumbotron }}
                    </h1>
                </div>
            </div>
        </div>

        <div class="container-fluid text-center">
            <div class="row controle">
                <div class="col-12 col-md-8 col-sm-12 col-lg-8">
                    <form id="caixa-pesquisa">
                        <input type="text" maxlength="55" entidade="{{ atributo-entidade }}" class="form-control pesquisa" id="pesquisa" placeholder="Pesquisar {{ titulo-jumbotron }}" name="filtro">
                    </form>
                </div>
                <div class="col-lg-4 col-md-4 col-12 col-sm-12 col-list d-none">
                    <button entidade="{{ atributo-entidade }}s" class="btn btn-primary btn-block btn-list font-weight-bold">
                       <i class="fas fa-eye"></i> 
                       Visualizar {{ legenda-botao }}
                   </button>
                </div>
                <div class="col-lg-4 col-md-4 col-12 col-sm-12 col-form">
                    <button entidade="{{ atributo-entidade }}" class="btn btn-primary btn-block btn-form font-weight-bold">
                       <i class="fas fa-plus"></i> 
                       Catalogar {{ legenda-botao }}
                   </button>
                </div>
            </div>

            <div class="row conteudo itens">
                <div class="col-12 col-col-12 col-sm-12 col-lg-12">
                    <h2 class="text-center">
                        Carregando {{ legenda-carregando }}...
                    </h2>
                </div>
            </div>

            <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lgg" role="document">
                    <div class="modal-content">
                        {{ modal }}
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="vendors/jQuery/jquery-3.6.0.min"></script>
    <script src="vendors/bootstrap/js/bootstrap.min"></script>
    <script src="vendors/fontawesome/all.min"></script>
    <script src="vendors/sweetalert2/sweetalert2.all.min"></script>
    <script src="vendors/jQuery Mask/jquery.mask"></script>
    <script src="assets/js/navbar"></script>
    <script src="assets/js/functions"></script>
    <script src="assets/js/main"></script>

</body>

</html>