#Bloqueia a listagem de diretórios.

options All -Indexes

ErrorDocument 403 "Acesso Bloqueado"
# DO NOT REMOVE THIS LINE AND THE LINES BELLOW SSL_REDIRECT:laboratoriosquimica-cafelandia.online
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} (www\.)?laboratoriosquimica-cafelandia.online
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
# DO NOT REMOVE THIS LINE AND THE LINES BELLOW SSL_REDIRECT:laboratoriosquimica-cafelandia.online
