.fundo {
    background-image: url("../img/fundo-index.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.formulario {
    background-color: rgb(6 115 121);
    width: 43%;
    color: white;
    box-shadow: black 4px 1px 20px 4px;
    z-index: 1;
    height: 100%;
    padding: 20px;
}

input {
    width: 100%;
    background: transparent;
    border: none;
    font-size: 1.25rem;
    letter-spacing: 1px;
    border-bottom: 1px solid white;
}

a[href="cadastro"],
a[href="/"] {
    color: #000368;
    font-size: 1.5rem;
}

.form-control {
    font-weight: bold !important;
    color: black !important;
}

img {
    transition: 0.5s;
}

.img-user img {
    background-color: white;
    border-radius: 100%;
}

.componentes {
    width: -webkit-fill-available;
}

@media screen and (max-device-width: 500px) {
    main {
        flex-direction: column;
    }
    * {
        font-size: 1rem !important;
    }
    img {
        height: 80px;
    }
    input,
    select {
        height: 35px !important;
    }
    .titulo {
        font-size: 2rem !important;
    }
    .btn-login {
        margin-bottom: 1rem !important;
    }
    .formulario {
        height: auto;
        background-color: rgb(6 115 121);
        z-index: 1;
        width: auto;
        box-shadow: black 0 20px 20px;
        border-radius: 45px 5px 45px 5px;
    }
    .fundo {
        position: absolute;
        background-size: cover;
        background-position: center;
        filter: brightness(0.75) blur(1px);
    }
}

@media screen and (min-device-width:500px) and (max-device-width:920px) {
    main {
        flex-direction: column;
    }
    .formulario {
        height: auto;
        background-color: rgb(6 115 121);
        z-index: 1;
        width: 65%;
        box-shadow: black 0 20px 20px;
        border-radius: 45px 5px 45px 5px;
    }
    .fundo {
        position: absolute;
        background-size: cover;
        background-position: center;
        filter: brightness(0.75) blur(1px);
    }
}