.banner {
    background-image: url("../img/reagentes.jpg");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    margin: 0;
}

#foto {
    width: auto;
    height: 400px;
}

@media screen and (min-width: 600px) {
    #foto {
        width: auto;
        height: 400px;
    }
    .input-foto {
        display: unset !important;
        font-weight: bold;
    }
}

@media screen and (max-device-width: 480px) {
    #foto {
        height: auto;
        width: 100%;
    }
    .input-nome {
        width: 100% !important;
    }
    .input-foto {
        font-size: 0.6rem;
    }
    .edit-nome {
        font-size: 1rem;
        width: 100%;
    }
}