.banner {
    background-image: url("../img/relatorios.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    margin: 0;
}

.btn-selecionar-equipamentos {
    background-image: linear-gradient(to right, #000046 0%, #1CB5E0 51%, #000046 100%);
    border: none !important;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.btn-selecionar-equipamentos:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

.btn-selecionar-reagentes {
    background-image: linear-gradient(to right, #000046 0%, #1CB5E0 51%, #000046 100%);
    border: none !important;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
}

.btn-selecionar-reagentes:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

.btn-selecionar-vidrarias {
    background-image: linear-gradient(to right, #000046 0%, #1CB5E0 51%, #000046 100%);
    border: none !important;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
}

.btn-selecionar-vidrarias:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

.modal-footer>.btn-danger {
    background: linear-gradient(332deg, rgba(254, 0, 0, 1) 1%, rgba(208, 74, 74, 1) 50%, rgba(40, 1, 1, 1) 100%);
    border: none !important;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
}

.btn-salvar-reagente,
.btn-ok,
.btn-salvar-equipamento,
.btn-salvar-vidraria {
    background-image: linear-gradient(135deg, #B2FEFA 11%, #0ED2F7 41%, #B2FEFA 100%);
    border: none !important;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: rgb(0, 0, 0);
    border-radius: 10px;
}

.btn-salvar-reagente:hover,
.btn-salvar-equipamento:hover,
.btn-salvar-vidraria:hover {
    background-position: right center;
    color: rgb(110, 110, 110);
    text-decoration: none;
}

.modal-footer>.btn-danger:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

.relatorios {
    background-image: linear-gradient(315deg, #1f4037 0%, #99f2c8 85%);
    padding-top: 25px !important;
}

.tabelas {
    overflow: scroll;
    height: auto;
    max-height: calc(100vh + 330px - 100vh);
    width: 100%;
    max-width: calc(100%);
    padding: 4px;
}

label {
    margin: 0px;
}

@media screen and (max-device-width: 480px) {
    .btn-secao {
        margin-bottom: 0.5rem;
    }
    .input-titulo {
        width: 100% !important;
    }
}