.banner {
    background-image: url("../img/vidraria.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    margin: 0;
}

#foto {
    width: auto;
    height: 400px;
}

@media screen and (min-width: 600px) {
    #foto {
        width: auto;
        height: 400px;
    }
}

@media screen and (max-device-width: 480px) {
    #foto {
        width: 100%;
    }
    .modal-lgg {
        max-width: none;
    }
}